@{
    ViewBag.Title = "About";
}
<h2>BookClub</h2>
<h3>A Web App to manage your BookClub</h3>

<p>BookClub is a Web App for Book Clubs, Book Club Administration, Book Club Members, Libraries and other interested parties.</p>
