@{
    ViewBag.Title = "About";
}
<h2>BookClub</h2>
<h3>A Web App to manage your BookClub</h3>

<p>BookClub is a Web App for Book Clubs, Book Club Administration, Book Club Members, Libraries to share information about books and groups</p>

