@{
        ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3 Literary Way<br />
    Book Valley<br />
    <abbr title="Phone">P:</abbr>
    989.989.8888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:BookClubSupport@example.com">BookClubSupport@example.com</a><br />
</address>>